<div
    layout="column"
    layout-margin>
    <div
        layout="row"
        layout-align="space-between center">
        <div>
            <md-button
                md-no-ink
                ng-repeat="item in $ctrl.appConstants.validBases"
                aria-label="{{item}}"
                ui-sref-active="md-primary"
                ui-sref="{ base: item }">{{item}}</md-button>
            <md-button
                class="md-icon-button"
                aria-label="Refresh"
                ng-click="$ctrl.getData($ctrl.base)">
                <md-icon>refresh</md-icon>
            </md-button>
        </div>
        <div
            ng-if="$ctrl.data">
            <span
                class="md-body-1">Last update</span>
            <span
                class="md-body-1"
                am-time-ago="$ctrl.lastUpdate"></span>
        </div>
    </div>
    <div layout="row">
        <div>
            <div
                google-chart
                chart="$ctrl.chart"
                agc-on-select="$ctrl.selectCountry(selectedItem)"></div>
        </div>
        <div
            ng-if="$ctrl.country">
            <md-list>
                <md-list-item>
                    <img ng-attr-src="{{$ctrl.country.flag}}" alt="" />
                </md-list-item>
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                        <h3>{{ $ctrl.country.name }}</h3>
                        <p>Name</p>
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                        <h3>{{ $ctrl.country.region }}</h3>
                        <p>Region</p>
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                        <h3>{{ $ctrl.country.currencies[0].name }}</h3>
                        <p>Currency</p>
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                        <h3>
                            {{ $ctrl.data.latestRates.rates[$ctrl.country.currencies[0].code] }}
                            {{ $ctrl.base }}
                        </h3>
                        <p>Last price ({{$ctrl.data.latestRates.date | date : 'mediumDate'}})</p>
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                        <h3>
                            {{ ($ctrl.data.latestRates.rates[$ctrl.country.currencies[0].code] / $ctrl.data.prevRates.rates[$ctrl.country.currencies[0].code] - 1) * 100 | number : 3 }}%
                        </h3>
                        <p>Change</p>
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </div>
</div>
