<div
    layout-fill
    layout="column">
    <md-toolbar
        md-whiteframe="4"
        class="shadow-target at-toolbar at-toolbar-main">
        <div
            class="md-toolbar-tools">
            <h2
                flex
                md-truncate>Current exchange rates of major world currencies</h2>
        </div>
    </md-toolbar>
    <md-content flex layout-padding>
        <ui-view
            flex
            layout="column"
            layout-fill
            name="content"></ui-view>
    </md-content>
</div>
