<div
    layout-fill
    layout="column">
    <md-toolbar
        md-whiteframe="4"
        class="shadow-target at-toolbar at-toolbar-main">
        <div
            class="md-toolbar-tools">
            <md-button
                class="md-icon-button">
                <md-icon>menu</md-icon>
            </md-button>
            <div
                flex
                class="toolbar-container">Luxdone Sample Application</div>
        </div>
    </md-toolbar>
    <md-content flex layout-padding>
        <ui-view
            flex
            layout="column"
            layout-fill
            name="content"></ui-view>
    </md-content>
</div>
