img {
    width: 40px;
}
.small-info {
    margin-left: 16px;
    font-weight: 300;
}
.map-container {
    width: 800px;
}
.layout-margin {
    .menu {
        margin-top: 20px;
        margin-bottom: 32px;
    }
}
